@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    max-width: 350px;
    background-color: var(--card-bg);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.7rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px hsl(218, 57%, 5%);
}

/* CODE LEARNT FROM @AdrianoEscarabote */

.nft-image {
    height: 300px;
    width: 300px;
    background: url("/images/image-equilibrium.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nft-image:hover {
    box-shadow: 0 320px hsl(178, 100%, 50%, 45%) inset;
}

.eye-icon {
    opacity: 0;
}

.nft-image:hover>.eye-icon {
    opacity: 1;
    transition: 0.3s;
}

/* CHANGED CODE

.main-image {
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.overlay {
    background-color: hsl(178, 100%, 50%, 60%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    width: 320px;
    height: 321px;
    margin-top: 3.7rem;
    opacity: 0;
}

.eye-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay:hover {
   opacity: 1;
}

*/

h1 {
    padding-top: 0.7rem;
}

.main-text h1 a {
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px black;
}


.main-text h1 a:hover {
    color: var(--cyan);
}

.main-text p {
    color: hsl(215, 51%, 70%, 60%);
    margin-top: 0.7rem;
    line-height: 2rem;
    font-weight: 300;
    text-shadow: 1px 1px black;
}

.price-time {
    margin-top: 1rem;
}

.cost {
    font-weight: 300;
    float: left;
}

.cost a {
    text-decoration: none;
    color: var(--cyan);
}

.countdown {
    color: var(--soft-blue);
    font-weight: 300;
    float: right;
}

.eth-icon {
    padding-right: 0.5rem;
    position: relative;
    top: 2px;
}

.clock-icon {
    padding-right: 0.5rem;
    position: relative;
    top: 2px
}


hr {
    margin-top: 3.4rem;
    border: solid 0.5px hsl(215, 51%, 70%, 20%);
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.avatar img {
    width: 2.3rem;
    margin-top: 0.5rem;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 1.3rem;
}

.avatar p {
   color:  hsl(215, 51%, 70%);
   font-weight: 300;
   padding-top: 0.6rem;
   font-size: 17px;
}

.avatar a {
    color: var(--white);
    text-decoration: none;
    
}

.avatar a:hover{
    color: var(--cyan);
}

.attribution { 
    color: var(--white);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
